@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(234, 29%, 20%);
}

.tomato {
  background-color: hsla(4, 100%, 67%, 0.502);
  border: 2px solid hsl(4, 100%, 67%);
  color: white;
}

.tomato-color {
  color: hsl(4, 100%, 67%);
}

.nav {
  width: 50vh;
}
* {
  font-family: "Roboto", sans-serif;
}
